<h1>Sign Up</h1>
<form action="/signup" method="POST">
    <p>Username: <input type="text" name="username"></p>
    <p>Email: <input type="text" name="email" pattern="\w+[@]\w+[.]\w{3}"></p>
    <p>Password: <input type="password" name="password"></p>
    <p><input type="submit" value="Sign Up"></p>
</form>
<br>
<p>Have an account? <a href="/login"><button>Log In</button></a>